body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  background-color: #555;
  color: #fff;
  padding: 20px;
  width: 300px;
  height: calc(100vh - 20px);
  position: fixed;
  top: 10px;
  left: 10px;
  border-right: 1px solid rgba(0, 22, 22, 0.4);
  border-radius: 10px;
  z-index: 100;
  overflow-y: auto;
  margin: 10px;
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-bottom: 10px;
}

.nav-link {
  text-decoration: none;
  color: #fff;  
  display: block;
  padding: 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #444;
}

main {
  margin-left: 330px;
  padding: 20px;
  width: calc(100% - 350px);
  margin-top: 60px;
  box-sizing: border-box;
}

.main-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 40px;
}

blockquote {
  font-style: italic;
  margin: 20px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border-left: 5px solid #ccc;
  border-radius: 5px;
}

code {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f9f9f9;
  padding: 5px;
  border-radius: 3px;
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  nav {
    width: calc(100% - 20px);
    height: auto;
    position: relative;
    margin: 10px;
    border-radius: 10px;
  }

  main {
    margin-left: 0;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
  }
}
